<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>房匠-错误页面</title>
</head>
<body>
  <div style="width: 1280px; margin: auto; background: #fff;">
    <div style="width: 1280px;">
      <img style="margin: auto;width: 1280px;" src="https://fangjiang-saas-dev.oss-cn-beijing.aliyuncs.com/app/500.jpg" alt="房匠网-500页面">
      <div style="position: relative;width: 100%; text-align: center;bottom: 144px;">
        <span>服务器出差了，先看看别的吧</span>
        <div style="width: 96px; margin: auto; margin-top: 16px;"><a href="/" rel="nofollow" style=" color: #015eea;">返回首页</a></div>
      </div>
    </div>
  </div>
</body>
</html>